@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
}
audio::-webkit-media-controls-panel {
  background-color: theme('colors.gray.100')
}
/* audio::-webkit-media-controls-play-button {
  background-color: #00ff00;
}
audio::-webkit-media-controls-timeline {
  background-color: #0000ff;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .video {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 0.25rem;
    box-shadow: theme('boxShadow.xl');
  }

  .list-stacked li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; /* Adjust as needed */
  }
  
  .list-stacked li::before {
    content: counter(item) ". "; /* For numbered lists */
    counter-increment: item;
    display: block;
    margin-bottom: 5px; /* Space between number and text */
    font-weight: bold;
  }
  
  .list-stacked {
    counter-reset: item;
  }

  .content-height {
    min-height: calc(100vh - 168px);
  }

  .burgerLine {
    width: 30px;
    height: 2px;
    background-color: rgb(230, 230, 230);
    margin: 7px;
    transition: all 0.3s ease;
    border-radius: theme('borderRadius.full');
  }

  .font-dancing-script {
    font-family: var(--font-dancing-script);
  }
}